@font-face {
	font-family: bebas;
	src: url(files/BebasNeue.otf);
}
html, body {
	height: 100%;
	margin:auto;
	width:6.5in;
	padding: 0;
}

/* Ids */
/* div sections */
#map {
	height: 3in;
	width: 6.5in;
	margin: auto;
}
#name {
	margin: auto;
	width: 6.5in;
	text-align:left;
	font-family:bebas;
}
#timeline {
	margin: auto;
	height: 150px;
	width: 6.5in;
	clear:both;
}
#prog_skills_plot {
	padding-top: 10px;
	margin: auto;
	width: 100%;
	height: 3in;
	clear:both;
}
#science_skills_plot {
	padding-top: 10px;
	margin: auto;
	width: 100%;
	height: 3in;
	clear:both;
}
#heading {
	margin: auto;
	width: 6.5in;
	padding-bottom:20px;
}
#subHead{
	float:left;
	width:50%;
}
#highlights{
	padding-top:10px;
	margin:auto;
	width:6.5in;
	clear:both;
}
#hl1 {
	float:left;
	margin:auto;
	width:50%;
}
#hl2 {
	float:left;
	marign:auto;
	width:50%;
}

/* text areas */
#liveview {
	text-align:center;
	font-family:bebas;
}
#curPos {
	margin: auto;
	text-align:left;
	font-family:bebas;
	color: #00A1E3;
}
#phone {
	margin: auto;
	text-align:right;
	font-family:bebas;
}
#email {
	margin: auto;
	text-align:right;
	font-family:bebas;
}
#website {
	margin: auto;
	text-align:right;
	font-family:bebas;
}
#location {
	margin: auto;
	text-align:right;
	font-family:bebas;
}

/* Classes */
/* div sections */
.background{
	float:left;
	width:50%;
}
.skillsPlot{
	padding-top:200px;
	margin:auto;
	width:6.5in;
}
.headings{
}
.headImgs{
	height:16px;
	width:16px;
}
.other {
	width:6.5in;
	margin:auto;
	padding-top:10px;
}
/* text areas */
.eduLabel {
	margin: auto;
	text-align:center;
	font-family:bebas;
	color: #00A1E3;
}
.expLabel {
	margin: auto;
	text-align:center;
	font-family:bebas;
	color: #00A1E3;
}
.schoolHead{
	font-family:bebas;
	color: #00A1E3;
	height:8px;
}
.eduAddr{
	font-family:bebas;
	height:8px;
}
.degree{
	font-family:bebas;
	height:8px;
}
.schoolYears{
	font-family:bebas;
	height:8px;
}
.schoolDescr{
	font-family:bebas;
}
.expHead{
	font-family:bebas;
	text-align:right;
	color: #00A1E3;
	height:8px;
}
.expAddr{
	font-family:bebas;
	text-align:right;
	height:8px;
}
.position{
	font-family:bebas;
	text-align:right;
	height:8px;
}
.expYears{
	font-family:bebas;
	height:8px;
}
.expDescr{
	font-family:bebas;
	height:8px;
}
.expDescr{
	font-family:bebas;
	height:8px;
}
.expDescr{
	font-family:bebas;
	height:8px;
}
.highlight {
	margin: auto;
	text-align:left;
	font-family:bebas;
}
.highlight2 {
	margin: auto;
	text-align:right;
	font-family:bebas;
}
.sectionLabel{
	margin: auto;
	text-align:center;
	font-family:bebas;
	color: #00A1E3;
}
.skillsCaption{
	margin: auto;
	text-align:center;
	font-family:bebas;
}
.skillsSubLabel{
	margin: auto;
	text-align:center;
	font-family:bebas;
	color: #00A1E3;
}
.otherText {
	font-family:bebas;
	text-align:center;
}
.infoName {
	color: #00A1E3;
	font-family:bebas;
}
.infoTitle {
	color: #00A1E3;
	font-family:bebas;
}
.bl {
	font-family:bebas;
	color:black;
}
.infoBoss {
	font-family:bebas;
}